@model Entities.Models.Produto

@{
    ViewData["Title"] = "ProdutoEntregue";
}

<h1>Pedido entregue.</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComprador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeComprador)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEntregador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeEntregador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
