@model IEnumerable<Entities.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Produtos</h1>

<p>
    @if (ViewBag.usuario.CEP == null || ViewBag.usuario.Endereco == null)
    {
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cadastre um endereco e um cep para Vender</a>
    }
    else
    {
        <a asp-action="Create">Vender novo Produto</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeComprador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ProdutoId">Details</a>
                    @if (item.Estado == Entities.Models.Enums.StatusProduto.Aguardando_Aprovacao)
                    {
                        <a asp-action="ResponderCompra" asp-route-id="@item.ProdutoId">Responder Compra</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
