@model Entities.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1>Detalhes do Produto</h1>

<div>
    <h4>Produto</h4>
    <hr />
    @if (Model.UsuarioIDVendedor != ViewBag.usuario.Id)
    {
        @if (ViewBag.usuario.CEP == null || ViewBag.usuario.Endereco == null)
        {
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cadastre um endereco e um cep para comprar</a>
        }
        else
        {
            <a asp-action="Compra" asp-route-id="@Model.ProdutoId">Comprar</a>
        }
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaID)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>


<div class="row">
    <h3>Imagens</h3>
    <div class="col-md-4">
        @foreach (Entities.Models.Imagem im in Model.Imagens)
        {

            <div class="form-group">
                <img width="300"
                     src=@Url.Action("GetImage", "ProdutosDisponiveis", new { id=im.ImagemId})
                     alt=@im.ImageMimeType>
            </div>}
    </div>
</div>


